body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.footer{
    
    color: white;
    align-items: center;
    background-color: rgb(17,23,60);
    display: flex;
    /* height: 87vh; */
  height: 85vh!important;
}
.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  margin-top: 10px;
    width: 100%;
}

.footer__row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
}
.footer__social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
 
    gap: 30px;
    font-size: 1.2rem;
    font-weight: 500;

}
.follow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
   
    gap: 30px;
    font-size: 1.2rem;
    font-weight: 500;
}
.footer__social--icon{
    font-size: 1.5rem;
    color: white;
    transition: all 0.3s ease-in-out;
}
.map{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    color: black;
    gap: 300px;
    font-size: 1.2rem;
    font-weight: 500;
}
.map-address{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    left: 0;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    margin-left: 100px;
  
}
.map-location{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    
    left: 0;
}