* body{
    margin: 0;
    padding: 0;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    min-height: 100vh;
    flex-direction: column;
}